/* CartToggleButton.module.css */
.cartButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--primary);
  color: white;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
  z-index: 900;
}

.cartButton:hover {
  background-color: var(--primary);
  transform: scale(1.05);
}

.cartIcon {
  fill: white;
  width: 24px;
  height: 24px;
}

.cartBadge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #08daad;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
