.container {
    padding: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}


.productCard:hover {
    transform: translateY(-5px);
}


.loading, .empty {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #666;
}

.productCard {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.2s;
  max-height: min-content;
  max-height: 500px;
}

.productCard:hover {
  transform: translateY(-3px);
}

.productImage {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 1rem;
  object-fit: contain;
}

.name{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--foreground);
  display: flex; 
  justify-content: end;
}

.price {
  color: var(--primary);
  font-weight: bold;
  margin: 0.5rem 0;
  align-items: end;
  display: flex;
  justify-content: end;
}

.addButtom{
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: -2px;
}


.category {
  font-size: 0.8em;
  color: var(--gray);
  margin-bottom: 5px;
  display: flex; 
  justify-content: end;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1em;
  color: var(--secondary); /* Orange color for stars */
  margin-top: 7px;
  margin-right: -2px;
}

.star {
  margin-left: 2px;
  padding-bottom: 5px;
}

